[submodule "pack/mvim/start/nvim-treesitter"]
	path = pack/mvim/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/mvim/start/gitsigns.nvim"]
	path = pack/mvim/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "pack/mvim/start/fzf-lua"]
	path = pack/mvim/start/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua.git
[submodule "pack/mvim/start/mini.splitjoin"]
	path = pack/mvim/start/mini.splitjoin
	url = https://github.com/echasnovski/mini.splitjoin.git
[submodule "pack/mvim/opt/nvim-colorizer.lua"]
	path = pack/mvim/opt/nvim-colorizer.lua
	url = https://github.com/NvChad/nvim-colorizer.lua.git
[submodule "pack/mvim/start/nvim-lspconfig"]
	path = pack/mvim/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/mvim/start/melange-nvim"]
	path = pack/mvim/start/melange-nvim
	url = https://github.com/savq/melange-nvim.git
